<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Drug Class</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container mt-5">
<h1 class="mb-4 text-center" th:text="${pageTitle}">Edit Drug Class</h1>

<div class="d-flex justify-content-end gap-2 align-items-center mt-3">

    <form method="POST" th:action="@{'/drug-class/delete/' + ${dto.drugClassId}}"
          class="d-inline-block" onsubmit="return confirm('Are you sure you want to delete this drug class?');">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>


</div>

<form method="POST" th:action="@{'/drug-class/edit/' + ${dto.drugClassId}}"
      th:object="${dto}" class="needs-validation" novalidate>

    <div class="mb-3">
        <label for="drugClassName" class="form-label"><b>Drug Class Name</b></label>
        <input type="text" id="drugClassName" name="drugClassName" class="form-control" th:field="*{drugClassName}" required>
        <div th:if="${#fields.hasErrors('drugClassName')}" th:errors="*{drugClassName}" class="text-danger"></div>
    </div>

    <div class="mb-3">
        <label for="drugClassDescription" class="form-label"><b>Drug Class Description</b></label>
        <textarea id="drugClassDescription" name="drugClassDescription" rows="3" class="form-control" th:field="*{drugClassDescription}" required></textarea>
        <div th:if="${#fields.hasErrors('drugClassDescription')}" th:errors="*{drugClassDescription}" class="text-danger"></div>
    </div>

    <div class="d-flex justify-content-end mb-3">
        <button type="submit" class="btn btn-primary ms-2">Save</button>
        <a href="/drug-class/list" class="btn btn-secondary ms-2">Cancel</a>
    </div>
</form>
</body>
</html>
